.container{
  display: flex;
  margin-top: 5%;
}
/* Estilo para a tabela */
.carteiras table {
  width: 120%;
  border-spacing: 0;


}

/* Estilo para o cabeçalho da tabela */
.carteiras th {
  background-color: #30a6d1;
  text-align: center;
  padding: .35vw;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

/* Estilo para as células da tabela */
.carteiras td {

  border: 1px solid #000;
}

.carteiras label {
  background: none;
}


