<div class="container">
  <div class="carteiras">
    <h1>Operações Realizadas</h1>
    <table>
      <tr>
        <th><label>N°</label></th>
        <th><label>Nome da Carteira</label></th>
        <th><label>Categoria</label></th>
        <th><label>Valor Investido($ USD)</label></th>
        <th><label>Porcetagem(%)</label></th>
        <th><label>Observações</label></th>


      </tr>
      <tr>
        <th><label></label></th>
        <th><label></label></th>
        <th><label></label></th>
        <th><label></label></th>
        <th><label></label></th>
        <th><label></label></th>


      </tr>
    </table>
  </div>
</div>
