<div class="container">
  <div class="container1">
    <div class="logo">
      <img src="../../assets/img/logo1.png" alt="">
    </div>
  </div>
  <div class="container1">
    <div class="register">
      <h2>Relize o Login</h2>
      <div class="form">
        <form>
          <label for="email">E-mail:</label>
          <input type="email" id="email" name="email" required [(ngModel)]="email">
           <label for="senha">Senha:</label>
          <input type="password" id="senha" name="senha" required [(ngModel)]="password">
          <button (click)="login()">Entrar</button>
        </form>
      </div>
    </div>
  </div>
