<div class="container">
<div class="carteiras">
  <h1>Saldo Por Criptomoeda</h1>
  <table>
    <tr>
      <th><label>N°</label></th>
      <th><label>Local de Compra</label></th>
      <th><label>Nome </label></th>
      <th><label>Quantidade</label></th>
      <th><label>Valor Investido($ USD)</label></th>
      <th><label>Porcetagem(%)</label></th>
      <th><label>Observações</label></th>


    </tr>
    <tr>
      <th><label>1</label></th>
      <th><label>Binance</label></th>
      <th><label>Bitcoin</label></th>
      <th><label>0.28</label></th>
      <th><label>32.000,00</label></th>
      <th><label>15%</label></th>
      <th><label>Enviador para Endereço Trezor</label></th>



    </tr>
  </table>
</div>
</div>
