<form>
  <table>
    <tr>
      <th><label for="nomeAtivo">Nome do Ativo:</label></th>
      <th><label for="symbolAtivo">Símbolo do Ativo:</label></th>
      <th><label for="quantidade">Quantidade:</label></th>
      <th><label for="valor">Valor:</label></th>
      <th><label for="createdAt">Data e Hora de Criação:</label></th>

      <th><label for="tipoID">ID do Tipo de Negociação:</label></th>
    </tr>
    <tr>
      <td><input type="text" id="symbolAtivo" name="symbolAtivo" required></td>
      <td><input type="number" id="quantidade" name="quantidade" required></td>
      <td><input type="number" id="valor" name="valor" required></td>
      <td><input type="datetime-local" id="createdAt" name="createdAt" required></td>
      <td>
        <button type="button" id="compra">Compra</button>
        <button type="button" id="venda">Venda</button>
      </td>
    </tr>
  </table>

</form>


