<div class="carteiras">

  <table>
    <tr>
      <th><label>N°</label></th>
      <th><label>Nome da Carteira</label></th>
      <th><label>Categoria</label></th>
      <th><label>Valor Investido($ USD)</label></th>
      <th><label>Porcetagem(%)</label></th>
      <th><label>Observações</label></th>


    </tr>
    <tr *ngIf="wallet ">
      <th><label>{{wallet.id}}</label></th>
      <th><label>{{wallet.name}}</label></th>
      <th><label>{{wallet.name}}</label></th>
      <th><label>{{wallet.name}}</label></th>
      <th><label>{{wallet.name}}</label></th>
      <th><label>{{wallet.name}}</label></th>


    </tr>
  </table>
</div>



