<div class="container">
  <div class="header">
    <h1>Gerenciar Carteira</h1>
    <button>Adicionar Transação</button>
  </div>
  <div class="container1">
    <div class="container2">
      <div class="openwallet">
        <app-open-wallet></app-open-wallet>
      </div>

      <div>

        <app-transaction-balance></app-transaction-balance>
      </div>

      <div>

        <app-all-transaction-by-wallet-id></app-all-transaction-by-wallet-id>
      </div>
    </div>

    <div class="grafico">
     <h1> %de cada ativo na carteira</h1>
    </div>

  </div>

</div>
