<div class="header2">
  <h1>VATIEN</h1>
  <div class="btn">
    <button (click)="register()"> CADASTRE-SE</button>
    <button> LOGIN</button>
  </div>
</div>
<div class="container">


  <h1>MONEYHIVE </h1>
  <p>MONEYHIVE É UM APLICATIVO DE CONTROLE DE PORTFÓLIO DE ATIVOS PARA INVESTIDORES
    MAIS EXIGENTES NO MERCADO, COM SUPORTE PARA ATIVOS TANTO NO MERCADO FINANCEIRO
    BRASILEIRO QUANTO AMERICANO, INCLUINDO O MERCADO DE CRIPTOMOEDAS. COM ELE, OS
    USUÁRIOS PODEM RASTREAR SEUS INVESTIMENTOS NOS PRINCIPAIS E MAIS PROMISSORES
    MERCADOS, PERMITINDO VISÃO CLARA EM TEMPO REAL DO DESEMPENHO DE SEUS INVESTIMENTOS.
  </p>
  <p>O MONEYHIVE OFERECE RECURSOS DE CONTROLE DE DESPESAS FINANCEIRAS, AJUDANDO OS
    USUÁRIOS A GERENCIAR SUAS FINANÇAS DE FORMA MAIS EFICIENTE E ORGANIZADA. ALÉM
    DISSO, O APLICATIVO CONTA COM UM DASHBOARD INTUITIVO E FÁCIL DE USAR, QUE FORNECE
    INFORMAÇÕES ÚTEIS E VISUALIZAÇÕES GRÁFICAS PARA AJUDAR OS USUÁRIOS A ACOMPANHAR
    SEUS INVESTIMENTOS E DESPESAS DE FORMA CLARA E OBJETIVA.</p>

  <p>COM MONEYHIVE NUNCA FOI TAO FACIL CONTROLAR SUAS DESPESAS E INVESTIMENTOS, ALÉM DE
    OFERECER SEGURANÇA E PRATICIDADE PARA INVESTIR EM CRIPTOMOEDAS. O APLICATIVO É IDEA
    L PARA QUEM BUSCA UMA FERRAMENTA COMPLETA E CONFIÁVEL PARA GERENCIAR SEUS ATIVOS EM
    DIFERENTES MERCADOS FINANCEIROS, COM RECURSOS AVANÇADOS DE ANÁLISE DE DADOS E
    MONITORAMENTO EM TEMPO REAL. COM O MONEYHIVE, VOCÊ PODE ESTAR SEMPRE À FRENTE DO
    MERCADO E TOMAR DECISÕES DE INVESTIMENTO MAIS INFORMADAS E ESTRATÉGICAS.
  </p>

</div>
